/* Background image */
body {
    background-image: url('./Images/Background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* About Me Section Formatting*/
.container {
    background-color: #343a40;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

/* About Me Header Formatting */
.container h1 {
    font-style: italic;
    font-weight: bold;
}


/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
}
